{% load i18n %}
<div class="actions row">
    {% for field in action_form %}
      {% if field.label %}<label class="col1">{{ field.label }}</label>{% endif %}
      <div class="col3">{{ field }}</div>{% endfor %}
    <!--<button type="submit" class="button" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">{% trans "Go" %}</div>-->
    <div id="confirmAction" class="button" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">{% trans "Go" %}</div>

    {% if actions_selection_counter %}
        <script type="text/javascript">var _actions_icnt="{{ cl.result_list|length|default:"0" }}";</script>
        <span class="action-counter">{{ selection_note }}</span>
        {% if cl.result_count != cl.result_list|length %}
        <span class="all">{{ selection_note_all }}</span>
        <span class="question">
            <a href="javascript:;" title="{% trans "Click here to select the objects across all pages" %}">{% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}</a>
        </span>
        <span class="clear"><a href="javascript:;">{% trans "Clear selection" %}</a></span>
        {% endif %}
    {% endif %}
</div>

<!-- The Modal -->
<div id="confirm_action_modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="left: 250px">
    <span class="close" style="width: 20px;height: 20px;text-align: center;">&times;</span>
    <p>{% trans "Are you sure you want to apply this action on the selected lines?..." %}</p>
      <button type="submit" class="button center" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">{% trans "Yes I am sure, please apply ..." %}</button>
  </div>

</div>

<script>
    // Get the modal
var modal = document.getElementById('confirm_action_modal');

// Get the button that opens the modal
var btn = document.getElementById("confirmAction");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>