{% extends "wagtailadmin/base.html" %}
{% load i18n static jet_tags %}
{% load wagtailadmin_tags wagtailcore_tags i18n %}

{% jet_get_current_version as JET_VERSION %}

{% block extra_css %}
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />

<link rel="stylesheet" type="text/css" href="{% static "jet/css/vendor.css" as url %}{{ url|jet_append_version }}" />
<link rel="stylesheet" type="text/css" href="{% static "jet/css/icons/style.css" as url %}{{ url|jet_append_version }}" />
<link rel="stylesheet" type="text/css" href="{% static "jet/css/themes/default/base.css" as url %}{{ url|jet_append_version }}" class="base-stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static "jet/css/themes/default/select2.theme.css" as url %}{{ url|jet_append_version }}" class="select2-stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static "jet/css/themes/default/jquery-ui.theme.css" as url %}{{ url|jet_append_version }}" class="jquery-ui-stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/tab_perm_custom.css' %}" />

{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<style>
a, a:visited, a:hover, a:focus {
    color: #4d4d4d ;
}

#footer {
    padding: 0;
}
html {
    height: 100%;
}

.wrapper, body.change-form, body.dashboard {
    height: auto;
}
#menu-search-q {
    padding: .8em 2.5em .8em 1em;
    height: auto;
    font-size: 1em;
    background: inherit;
    border-radius: 0px;
    width: 100%;
}

table thead th {
    background: rgb(0, 125, 126);
}

#toolbar form input[type="submit"], #toolbar form input[type="submit"]:visited, #toolbar form input[type="submit"]:hover {
    background-color: rgb(0, 103, 106);
}

.button, .button:visited, .button:hover, input[type="submit"], input[type="submit"]:visited, input[type="submit"]:hover, input[type="button"], input[type="button"]:visited, input[type="button"]:hover, .object-tools a, .object-tools a:visited, .object-tools a:hover {
    background-color: rgb(77, 77, 77);
    color: white;

}

label, label {
    display: initial;
    width: auto;
    padding: inherit;
}

.halloeditor, .tagit, input:not([type=submit]), select, textarea {
    width: auto;
}

.changeform-tabs {
    background-color: rgb(0, 103, 106);
}
.changeform-tabs-item.selected a, .changeform-tabs-item.selected a:hover, .changeform-tabs-item.selected a:visited {
    color: #ffff;
}
.ui-widget-header {
    background: rgb(0, 103, 106);
}

.changeform-tabs-item.selected a, .changeform-tabs-item.selected a:hover, .changeform-tabs-item.selected a:visited {
    color: rgb(51, 51, 51);
    background-color: #ffff;
    border-color: rgb(51, 51, 51);
    border-top-style: solid;
    border-top-width: 4.07812px;
    border-bottom: none;
}

body {
    font-size: 87.5% !important;
}

.modal-content, .modal-dialog:before {
    display: inherit;
}

.modal .close {
    width: auto;
}
.label, label {
    width: auto;
}

</style>
{% endblock extra_css %}

{% block js %}
    {{ block.super }}
<script type="text/javascript" src="{% url 'wagtail_django_admin:jsi18n' %}"></script>
<script src="{% static 'admin/js/jquery.min.js' %}"></script>
<script src="{% static "admin/js/jquery.init.js" as url %}{{ url|jet_append_version }}"></script>
<script src="{% static "jet/js/bundle.min.js" as url %}{{ url|jet_append_version }}"></script>

{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
{% block javascripts %} {% endblock %} 
{% endblock js %}

{% block furniture %}
    <aside class="nav-wrapper" data-nav-primary>
        <div class="inner">
            <a href="{% url 'wagtailadmin_home' %}" class="logo" aria-label="{% trans 'Dashboard' %}">
                {% block branding_logo %}
                    {# Mobile-only logo: #}
                    <div class="wagtail-logo-container__mobile u-hidden@sm">
                        <img class="wagtail-logo wagtail-logo__full" src="{% versioned_static 'wagtailadmin/images/wagtail-logo.svg' %}" alt="" width="80" />
                    </div>

                    {# Desktop logo (animated): #}
                    {% include "wagtailadmin/shared/animated_logo.html" %}
                {% endblock %}
                <span class="u-hidden@sm">{% trans "Dashboard" %}</span>
            </a>

            {% menu_search %}
            {% main_nav %}

        </div>
        <div class="explorer__wrapper" data-explorer-menu></div>
    </aside>
<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <span id="branding-menu" class="sidebar-header-menu-icon icon-menu sidebar-toggle"></span>
            <span id="branding-pin" class="sidebar-link-icon icon-pin sidebar-pin"></span>
            {% block branding %}{% endblock %}
        </div>
        {% block usertools %}
        
        {% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}

    {% jet_delete_confirmation_context as delete_confirmation_context %}
    {{ delete_confirmation_context }}

    {% jet_change_form_sibling_links_enabled as show_siblings %}
    {% if change and show_siblings %}
        <div class="changeform-navigation">
            {% spaceless %}
                {% jet_previous_object as sibling %}
                <a{% if sibling.url %} href="{{ sibling.url }}"{% endif %} class="changeform-navigation-button segmented-button left{% if not sibling %} disabled{% endif %}" title="{{ sibling.label }}">
                    <span class="changeform-navigation-button-icon left icon-arrow-left"></span>
                    <span class="changeform-navigation-button-label">
                        {% if sibling %}
                            {{ sibling.label }}
                        {% else %}
                            ---
                        {% endif %}
                    </span>
                </a>

                {% jet_next_object as sibling %}
                <a{% if sibling.url %} href="{{ sibling.url }}"{% endif %} class="changeform-navigation-button segmented-button right{% if not sibling %} disabled{% endif %}" title="{{ sibling.label }}">
                    <span class="changeform-navigation-button-icon right icon-arrow-right"></span>
                    <span class="changeform-navigation-button-label">
                        {% if sibling %}
                            {{ sibling.label }}
                        {% else %}
                            ---
                        {% endif %}
                    </span>
                </a>
            {% endspaceless %}
        </div>
    {% endif %}

</div>
<!-- END Container -->
{% endblock furniture %}
{% block custom_page_js %}
{% endblock %}
