{% load i18n %}

<table id="tabular_permissions" class="table table-condensed table-striped table-hover fold-table" cellspacing="0" width="100%"
       data-input-name="{{ input_name }}">
    <thead>
    <tr>
        <th> {% trans 'application'|capfirst %}</th>
        <th>{% trans 'model'|capfirst %}</th>
        {% if django_supports_view_permissions %}
        <th>
            {% trans 'View' %}
            <div>
                <input type="checkbox" class="checkbox select-all view"
                       id="perm_view_select_all">
                <label class="vCheckboxLabel" for="perm_view_select_all">{% trans 'All' %}</label>
            </div>
        </th>
        {% endif %}
        <th>
            {% trans 'Add' %}
            <div>
                <input type="checkbox" class="checkbox select-all add"
                       id="perm_add_select_all">
                <label class="vCheckboxLabel" for="perm_add_select_all">{% trans 'All' %}</label>
            </div>
        </th>
        <th>
            {% trans 'Change' %}
            <div>
                <input type="checkbox" class="checkbox select-all change"
                       id="perm_change_select_all">
                <label class="vCheckboxLabel" for="perm_change_select_all">{% trans 'All' %}</label>
            </div>
        </th>
        <th>
            {% trans 'Delete' %}
            <div>
                <input type="checkbox" class="checkbox select-all delete"
                       id="perm_delete_select_all">
                <label class="vCheckboxLabel" for="perm_delete_select_all">{% trans 'All' %}</label>
            </div>
        </th>
        {% if custom_permissions_available %}
            <th>
            {% trans 'other permissions'|capfirst %}
            </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for app in apps_available.values %}
    {% if app.models.values|length > 0 %}
        <tr class="view">
            <td colspan="{{colspan}}">
                <h3>{{ app.verbose_name|capfirst }} </h3>
            </td>
        </tr>
        <tr class="fold">
          <td colspan="{{colspan}}">
            <div class="fold-content">
                <table>
                    <tr>
                        <th> {% trans 'application'|capfirst %}</th>
                        <th>{% trans 'model'|capfirst %}</th>
                        {% if django_supports_view_permissions %}
                        <th>
                            {% trans 'View' %}
                        </th>
                        {% endif %}
                        <th>
                            {% trans 'Add' %}
                        </th>
                        <th>
                            {% trans 'Change' %}
                        </th>
                        <th>
                            {% trans 'Delete' %}
                        </th>
                        {% if custom_permissions_available %}
                            <th>
                            {% trans 'other permissions'|capfirst %}
                            </th>
                        {% endif %}
                    </tr>
                    {% for model in app.models.values %}

                        <tr class="{% cycle 'row1' 'row2' %}">

                            {% if forloop.counter0 == 0 %}
                                <td rowspan="{{ app.models|length }}" class="app-name"
                                    data-app-name="{{ app.label }}">{{ app.verbose_name|capfirst }}
                                </td>
                            {% endif %}
                            <td>
                                {{ model.verbose_name|capfirst }}
                                <div class="input">
                                    {#                        <label>#}
                                    <input type="checkbox" class="checkbox select-all select-row"
                                           data-model-name="{{ model.model_name }}">
                                    {% trans 'All' %}
                                    {#                        </label>#}
                                </div>
                            </td>
                            {% if django_supports_view_permissions %}
                            <td class="view">
                                {% if model.view_perm_id %}
                                    <div class="input">
                                        <label>
                                            <input type="checkbox" class="checkbox view model-{{ model.model_name }}"
                                                   id="id_{{ model.label }}_{{ model.view_perm_name }}" data-perm-id="{{ model.view_perm_id }}"
                                                    {% if model.view_perm_id in user_permissions %}
                                                   checked="checked"
                                                    {% endif %}>
                                        </label>
                                    </div>
                                {% endif %}
                            </td>
                            {% endif %}
                            <td class="add">
                                {% if model.add_perm_id %}
                                    <div class="input">
                                        <label>
                                            <input type="checkbox" class="checkbox add model-{{ model.model_name }}"
                                                   id="id_{{ model.label }}_{{ model.add_perm_name }}" data-perm-id="{{ model.add_perm_id }}"
                                                    {% if model.add_perm_id in user_permissions %}
                                                   checked="checked"
                                                    {% endif %}>
                                        </label>
                                    </div>
                                {% endif %}
                            </td>
                            <td class="change">
                                {% if model.change_perm_id %}
                                    <div class="checkbox ">
                                        <label>
                                            <input type="checkbox" class="checkbox change model-{{ model.model_name }}"
                                                   id="id_{{ model.label }}_{{ model.change_perm_name }}" data-perm-id="{{ model.change_perm_id }}"
                                                    {% if model.change_perm_id in user_permissions %}
                                                   checked="checked"
                                                    {% endif %}>
                                        </label>
                                    </div>
                                {% endif %}
                            </td>
                            <td class="delete">
                            {% if model.delete_perm_id %}
                                <div class="checkbox ">
                                    <label>
                                        <input type="checkbox" class="checkbox delete model-{{ model.model_name }}"
                                               id="id_{{ model.label }}_{{ model.delete_perm_name }}" data-perm-id="{{ model.delete_perm_id }}"
                                                {% if model.delete_perm_id in user_permissions %}
                                               checked="checked"
                                                {% endif %}>
                                    </label>
                                </div>
                            {% endif %}
                            </td>
                        {% if custom_permissions_available %}
                        <td>
                        {% for custom_permission in model.custom_permissions %}
                            <div class="input ">
                                    <label>
                                        <input type="checkbox" class="checkbox custom model-{{ model.model_name }}"
                                               id="id_{{ model.label }}_{{ custom_permission.0 }}" data-perm-id="{{ custom_permission.2 }}"
                                                {% if custom_permission.2 in user_permissions %}
                                               checked="checked"
                                                {% endif %}>
                                    {{ custom_permission.1 }}
                                    </label>
                                </div>
                        {% endfor %}

                        </td>
                    {% endif %}
                        </tr>
                    {% endfor %}
                    </table>
            </div>
          </td>
        </tr>
        {% if app.models %}
            <tr>
                <td colspan="{{ colspan }}" class="user-permissions-app-separator"></td>
            </tr>
        {% endif %}

    {% endif %}
    {% endfor %}
    </tbody>
</table>
<hr/>
{% block style %}
    {#    Seems a waste to request those couple of sad lines from the server as separate css file #}
    <style>
        .user-permissions-app-separator {
            border-bottom: 1px solid black;
        }

        .app-name {
            border-right: 1px black solid;
        }

        [dir=rtl] .app-name {
            border-left: 1px black solid;
            border-right: initial;
        }

        th {
            text-decoration: underline;
        }

        .select-all {
            font-style: italic;
        }

        #tabular_permissions {
            margin-top: 30px;
        }

        .related-widget-wrapper-user-permissions {
            padding-top: 10px;
        }

    </style>

    <style>
    @import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
     .pcs:after {
         content: " pcs";
    }
     .cur:before {
         content: "$";
    }
     .per:after {
         content: "%";
    }
     * {
         box-sizing: border-box;
    }
     body {
         padding: 0.2em 2em;
    }
     table {
         width: 100%;
    }
     table th {
         text-align: left;
         border-bottom: 1px solid #ccc;
    }
     table th, table td {
         padding: 0.4em;
    }
     table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
         cursor: pointer;
    }
     table.fold-table > tbody > tr.view td:first-child, table.fold-table > tbody > tr.view th:first-child {
         position: relative;
         padding-left: 20px;
    }
     table.fold-table > tbody > tr.view td:first-child:before, table.fold-table > tbody > tr.view th:first-child:before {
         position: absolute;
         top: 50%;
         left: 5px;
         width: 9px;
         height: 16px;
         margin-top: -8px;
         font: 16px fontawesome;
         color: #999;
         content: "\f0d7";
         transition: all 0.3s ease;
    }

     table.fold-table > tbody > tr.view:hover {
         background: #aaa;
    }
     table.fold-table > tbody > tr.view.open {
         background: #59677e7d;
         color: white;
    }
     table.fold-table > tbody > tr.view.open td:first-child:before, table.fold-table > tbody > tr.view.open th:first-child:before {
         transform: rotate(-180deg);
         color: #333;
    }
     table.fold-table > tbody > tr.fold {
         display: none;
    }
     table.fold-table > tbody > tr.fold.open {
         display: table-row;
    }
     .fold-content {
         padding: 0.5em;
    }
     .fold-content h3 {
         margin-top: 0;
    }
     .fold-content > table {
         border: 2px solid #ccc;
    }
     .fold-content > table > tbody tr:nth-child(even) {
         background: #eee;
    }

    .dark_header {
        background-color: #59677e !important;
        color: #fff;
    }

    </style>
    <script>
    (function($){
        $(document).ready(function () {
            $(".fold-table tr.view").on("click", function(){
                $(this).toggleClass("open").next(".fold").toggleClass("open");
            });

            $('#id_user_permissions').next().hide();
            $('#id_permissions').next().hide();
        });
    })(django.jQuery);
    </script>
{% endblock %}